<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCslOHRFZc1daXkACKrSH-cAe6ePpW2JXg</string>
	<key>GCM_SENDER_ID</key>
	<string>534749410325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yourschef.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>yourschef-9398f</string>
	<key>STORAGE_BUCKET</key>
	<string>yourschef-9398f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534749410325:ios:4b8553332a7c3f80394a1c</string>
</dict>
</plist>